#container {
  max-width: 90%;
}

[class^="icon-"], [id^="inp-"]{
	font-size: 1.5em;
  padding: 4px;
	background: #ffffffee;
}
#annotation {
	position: fixed;
	display: grid;
}
.icon-cancel:before{ content: "\00FF38"; }
.icon-ok:before{ content: "\002713"; }
.icon-trash:before{ content: "\01F5D1"; }
